<html>
<body>

<wicket:extend>
	<div id="title">Member</div>
	<div id="main_text">
		<form wicket:id="form">
			<span>account: </span>
			<span wicket:id="account"></span><br/><br/>
			<span>password: </span><br/>
			<input type="password" wicket:id="password"/><br/><br/>
			<span>first name </span><br/>
			<input type="text" class="name" wicket:id="firstName"/><br/><br/>
			<span>last name </span><br/>
			<input type="text" class="name" wicket:id="lastName"/><br/><br/>
			<span>email </span><br/>
			<input type="text" class="email" wicket:id="email"/><br/><br/>
			<span>karma: </span>
			<span wicket:id="karma"></span><br/><br/>
			<input type="submit" value="update" wicket:id="update"/>
		</form>
		<div id="feedback" wicket:id="feedback"></div>
	</div>
</wicket:extend>

</body>
</html>