<html>
<body>

<wicket:extend>
	<div id="title">Sign In</div>
	<div id="main_text">
		<form wicket:id="form">
			<span>Account name</span><br/>
			<input type="text" wicket:id="account" class="name_textfield"/><br/><br/>
			<span>Password</span><br/>
			<input type="text" wicket:id="password" class="name_textfield"/><br/><br/>
			<input type="submit" wicket:id="save" value="submit"/>
		</form>
		<div wicket:id="feedback" id="feedback"></div>
	</div>
</wicket:extend>

</body>
</html>