/*Tag*/
body {
	text-align: center;
	background-color: #FBFBFB;
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
}

a {
	color: #383838;
	text-decoration: none;
}

a:hover {
	color: #4ac4df;
}

/* divisions */

#container{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#header{
	background-image: url(img/header.png);
	height: 70px;
	padding-bottom:10px;
	background-repeat: no-repeat;
}

#header_logo{
	height: 39px;
	float: left;
	padding-left: 4px;	
}

#content_top{
	background-image: url(img/content_top.png);
	background-repeat: no-repeat;
	background-position: top;
	background-color: #FFF;
	height: 7px;
	background-color: white;
}

#content{
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #383838;
	border-left-color: #383838;
	padding-bottom: 1px;
	padding-top:5px;
	background-color: white;
	min-height:600px;
}

#content_bottom{
	background-image: url(img/content_bottom.png);
	background-repeat: no-repeat;
	height:7px;
	background-position: bottom;
	background-color: white;
}

/*List of links*/
#links-list{
	padding-right: 15px;
}

#links-list li{
	color: gray;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
}

#links-list li:hover {
	background-color: #F9F9F9;
}

/*Main Text Page*/
#main-text{
	background-color: #FFF;
	padding-right: 15px;
	margin: 20px;
	color:#66563E;
}

#title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 96%;
	margin: 20px;
	letter-spacing: 2px;
	color:#A78F6D;
}

/*Menu*/
#menu{
	float: left;
	font-size: 16px;
	padding-top: 12px;
	padding-left: 10px;
}

#menu ul {
	list-style: none;
	margin: 0;
	border: none;
	padding-right: 0;
	padding-left: 0;
}

#menu ul li {
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #4ac4df;	
}

#menu ul li a
{
	color: #f2f4df;
	letter-spacing: 2px;
}

#menu ul li a:hover
{
	color: #4ac4df;
}

#menu ul li.selected
{
	color: #ffb33b !important;
	background-image: url(img/menu_active.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom:10px;
}

/*Class*/
.link-spec {
	font-size: 12px;
}

.active-link {
	color: #ffb33b !important;
	background-image: url(img/menu_active.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom:10px;
}