<html>
<body>

<wicket:extend>
	<div id="divided_content">
		<div id="title">Sign in</div>
		<div id="main_text">
			<form id="large_form" wicket:id="signIn">
		    	<span>account</span><br/> 
		    	<input type="text" id="big_input" wicket:id="account"/><br/><br/>
		    	<span>password</span><br/>
		    	<input type="password" id="big_input" wicket:id="password"/><br/><br/>
		    	<input type="submit" value="sign in" id="big_input"/>
		  	</form>
		</div>
	</div>
	
	<div id="divided_content" class="border_left">
		<div id="title">Create account</div>
		<div id="main_text">
			<form id="large_form" wicket:id="signUp">
		    	<span>account</span><br/> 
		    	<input type="text" id="big_input" wicket:id="account"/><br/><br/>
		    	<span>password</span><br/>
		    	<input type="password" id="big_input" wicket:id="password"/><br/><br/>
		    	<input type="submit" value="create" id="big_input"/>
		  	</form>
		  	
		</div>
	</div>

	<div id="main_text">
		<div wicket:id="feedback" id="feedback"></div>
	</div>
</wicket:extend>

</body>
</html>