<html>

<head>

<title>iEducNews</title>
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />

</head>

<body>

<div id="container">

	<div id="header">
        <div id="header_logo">
            <img src="css/img/ieducnews_logo.png" alt="iEducNews Logo" width="154" height="36">        
  		</div><!-- header_logo -->
        <div id="menu">
        	<ul>
            	<li class="active">new</li>
        	</ul>
        </div><!-- menu -->
    </div><!-- header -->

	<div id="content">
		<div id="liste_liens">
        	<ol>
            	<li wicket:id="webLinks">
					<a href="#" target="_blank" wicket:id="linkUrl"></a>
                	<br/>
                	<span class="specifications" wicket:id="linkLabel"></span>
            	</li>	
        	</ol>
        </div><!-- liste_liens -->
	</div><!-- content -->
    
</div><!-- container -->

</body>

</html>